<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create running string</title>
</head>
<body>
    <h1>Create running string</h1>
    <form method="POST">
    {% csrf_token %}
        <label for="text">Input a string:</label>
        <input type="text" id="text" name="text" required>
        <br>
        <label for="duration">Duration (sec):</label>
        <input type="number" id="duration" name="duration" value="3" min="1">
        <br>
        <button type="submit">Create video</button>
    </form>
</body>
</html>